blockquote.review .quote p:before {content:'“';}
blockquote.review .quote p:after {content:'”';}
blockquote.review footer p:before {content:"— ";}
blockquote.review footer p {display:inline;font-size:75%;}

blockquote p {
margin-bottom: 0;
}

blockquote, blockquote p {
  line-height:1.6;
  font-size: 1.2rem;
  color: $blue;
  border-left:none;
  //margin-bottom: $paragraph-margin-bottom/2;
}
blockquote {
  padding: 0 2em 0 2em;
}
blockquote footer {
padding-bottom:.75rem;
//text-align:left;
//text-indent: 3rem;
padding-left:2em;
}


#reviews blockquote {
  //targeting reviews below the book
  margin-top: 2.5rem;
}
blockquote footer{
  //targeting reviews below the book
  margin-bottom: 2.5rem;
}
