html {
  background: url(/assets/img/bg-street-2278x1200.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper {
	width: 100%;
		@include media ($large-screen) {
			width: $site-width;
			margin: 0 auto;
			max-width: $site-width;
		}
}

.main-section {
	background-color: $body-bg;
}

header {
	text-align: center;
}

header.banner {
text-align: center;
padding-top: 2rem;
min-height: 8rem;
background-color: rgba(35,110,148,0.8);

}

header.banner h1 , header.banner h1 a {
//Styles the main header in the banner, not page headers
color: #FFF;
}

.page-content { //for non-article pages
	max-width: 90%;
	margin: auto;
	  padding-top: 1.5em;
	  padding-bottom: 4em;
}
.button-group {
	margin-top: 2em;
	margin-bottom: 1em;
}

.button-group li {
	display: inline;
	margin-right: 1em;
}

li.button {
	@extend button;
	font-size: 80%;
	font-family: $sans-serif;
}

tr:hover {
background-color: #FFF;

}


th.date, td.date {
  //font-family: $sans-serif;
  //font-size: 85%;
  padding-left: 2.5em;
}
td.category {
	// text-align: right;
	padding-right: 1em;
	max-width: 5%;
}

h5 {
	color: #555;
	margin-bottom: .7em;
	margin-top: 3em;
	border-bottom:1px solid #ddd;
	font-weight: 400;
}

h4 {
	font-weight: 400;
}

img {
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.60);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.60);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.60);

}

//============= GRID =====================\\

section.books, .row{
  @include row();
}

.padded {
	margin-top: 2em;
	margin-bottom: 3em;
}

.padded-right {
	margin-right: 4em;
}

section.books {
	margin-bottom: 7em;
}

section.books article, section.books aside, .bio, .events{
	@include span-columns(6 of 6);
}

@include media($medium-screen-up) {

	section.books h1.entry-title {
		margin-top: -13px;
	}
	section.books article, .bio{
  	@include span-columns(4 of 6);
	}
	section.books aside, .events {
	  @include span-columns(2 of 6);
	}
}

body.home .item-wrapper {
		width: 44%;
		float: left;
		margin-right: 5%;
	}