<div class="row contain-to-gridTK">
 <nav class="top-bar" data-topbar data-options="is_hover: false">



 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="">


<li id="menu-item-440" class="menu-item  menu-item-440{% if page.url == '' %} active{% endif %}">
  <a href="{{site.baseurl}}">Home</a>
</li>
<li id="menu-item-440" class="menu-item  menu-item-440{% if page.url contains 'about' %} active{% endif %}">
  <a href="{{site.baseurl}}/about-the-author/">About/Contact</a>
</li>
<li id="menu-item-438" class="menu-item menu-item-438{% if page.url contains 'books' %} active{% endif %}">
  <a href="{{site.baseurl}}/books">Books</a>
</li>
<li id="menu-item-458" class="menu-item menu-item-458{% if page.url contains 'writing' %} active{% endif %}">
  <a href="{{site.baseurl}}/writing/">Writing</a>
</li>
<li id="menu-item-459" class="menu-item menu-item-459{% if page.url contains 'media' %} active{% endif %}">
  <a href="{{site.baseurl}}/media">Media</a>
<!-- has-dropdown -->
<!-- <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul> -->

</li>
<li id="menu-item-457" class="menu-item current-menu-item menu-item-457{% if page.url contains 'events'  %} active{% endif %}">
  <a href="{{site.baseurl}}/events">Appearances</a>
</li>
<li id="menu-item-436" class="menu-item  current_page_parent menu-item-436{% if page.url contains 'nature-journal' %} active{% endif %}">
  <a href="{{site.baseurl}}/nature-journal/">Nature Journal</a>
</li>


        
        
        
        
      </ul>
    </section>
  </nav>
</div>