<div class="row">
<nav class="top-bar contain-to-grid" data-topbar>
  <ul class="title-area">
    <li class="name">
    </li>
    <li class="toggle-topbar button tiny">Menu</li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="">
      <li id="menu-item-440" class="menu-item  menu-item-440{% if page.url == '' %} active{% endif %}">
        <a href="{{site.baseurl}}/">Home</a>
      </li>
      <li id="menu-item-440" class="menu-item  menu-item-440{% if page.url contains 'about' %} active{% endif %}">
        <a href="{{site.baseurl}}/about-the-author/">About/Contact</a>
      </li>
      <li id="menu-item-438" class="menu-item menu-item-438{% if page.url contains 'books' %} active{% endif %}">
        <a href="{{site.baseurl}}/books">Books</a>
      </li>
      <li id="menu-item-458" class="menu-item menu-item-458{% if page.url contains 'writing' %} active{% endif %}">
        <a href="{{site.baseurl}}/writing/">Writing</a>
      </li>
      <li id="menu-item-459" class="menu-item menu-item-459{% if page.url contains 'media' %} active{% endif %}">
        <a href="{{site.baseurl}}/media">Media</a>
      </li>
      <li id="menu-item-457" class="menu-item current-menu-item menu-item-457{% if page.url contains 'events'  %} active{% endif %}">
        <a href="{{site.baseurl}}/events">Appearances</a>
      </li>
      <li id="menu-item-436" class="menu-item  current_page_parent menu-item-436{% if page.url contains 'nature-journal' %} active{% endif %}">
        <a href="{{site.baseurl}}/nature-journal/">Nature Journal</a>
      </li>
      </ul>

  </section>
</nav>
</div>

