{{ define "main" }}
  <main class="max-w-3xl mx-auto px-3TK pt-5">
    {{ range first 1 (where .Data.Pages "Section" "book") }}
      <section class="flex flex-wrap md:flex-row flex-col-reverse mx-auto px-4 md:px-4 py-8">
          <div class="w-full lg:w-1/2 mt-8 lg:px-8">
            {{- partial "books/praise-featured.html" . -}}
            <div class="mt-8 px-4 md:px-0 md:hidden xl:block">
              {{ partial "books/buylinks_array.html" (dict "item" . "count" "1") }}
            </div>
          </div>
          <div class="w-full lg:w-2/5 lg:pt-2">
            {{- partial "books/cover.html" . -}}
          </div>
          <div class="mt-8 px-8 mx-auto hidden md:block xl:hidden">
            {{ partial "books/buylinks_array.html" (dict "item" . "count" "1") }}
          </div>
      </section>
  <section class="mx-auto relative bg-grey-light flex mb-12 mt-8 py-8 px-8 text-on-primary-color ">
        <div class="px-8">
          {{- partial "books/praise.html" (dict "count" 1 "Page" . ) -}}
          <a class="btn block btn-buylinks self-end" href="{{.URL }}">more</a>
        </div>
      </section>
    {{ end }}
    {{$news := where .Pages "Section" "news"}}
    <section class="max-w-3xl mx-auto px-8">
      <h2 class="text-4xl">Recent Updates</h2>
      <div class="list-reset sm:grid grid-columns-2 lg:grid-columns-3 grid-gap-4">
        {{/* lg:flex flew-wrap justify-between */}}
        {{range first 4 $news}}
          <div class="max-w-sm rounded overflow-hidden shadow-md mb-8">
            {{/*
            <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains"> */}}
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">
              <a href="{{ .URL }}" class="no-underline border-b text-primary-color">  {{- .Title | markdownify -}}</a>
              </div>
              <p class="text-grey-darker text-base">
                {{ .Summary | safeHTML | truncate "200" }}
              </p>
            </div>
            {{with .Params.tags}}
              <div class="px-6 py-4">
                {{range .}}
                  <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#{{.}}</span>
                {{end}}
              </div>
            {{end}}
          </div>


        {{end}}
      </div>
    </section>
  </main>
{{ end }}
