{{ define "main" }}
  {{ $books := where .Data.Pages "Section" "book" }}
  <main class="mx-auto md:pt-5 min-h-screen">
    <section class="flex flex-wrap lg:flex-row flex-col-reverse mx-auto px-4 md:px-4 py-8">
      {{ range first 1 $books  }}
        <div class="w-full lg:w-3/4 flex flex-wrap lg:flex-row flex-col-reverse ">
          {{ partial "home/book-cover-center.html" . }}
        </div>
      {{ end }}
      <div class="hidden md:block w-full lg:w-1/4">
        {{ partial "home/news-list.html" . }}
      </div>     
    </section>
  </main>    
{{ end }}