<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" class="no-js">
  <head>
    {{/* TODO: Replace with SEO component */}}
      <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ block "head" .}}
      {{- partial "_head/_head.html" . -}}
    {{ end }}
    {{block "scripts" .}}
      {{ partialCached "_head/scripts.html" . }}
    {{ end }}
  </head>
  <body class="{{ .Kind }} {{ .Type }} {{ .Layout }}">
    {{ block "header" . }}{{ partial "_global/header.html" . }}{{ end }}
    <div id="content" class="content">
      <main role="main">
        {{ block "hero" . }}{{ end }}
        {{ block "main" . }}{{ end }}
      </main>
      {{ block "footer" . }}
        {{- partial "_global/footer.html" . -}}
      {{ end }}
    </div>    
  </body>
</html>
