{{ define "main" }}
	{{/* DATA
		---------------------

		Defaults var values have to be defined at the root
		We set default values for $entries and $cats */}}
	{{ $entries := false }}
	{{ $cats := false }}

	{{/* Data files root name are stored in a page param "media" > "media.yaml, mediaCats.yaml" */}}
	{{ with .Params.data }}
		{{/* We grab the corresponding data files */}}
		{{ $entries = index $.Site.Data . }}
		{{ $cats = index $.Site.Data (printf "%sCats" .) }}
	{{ else }}
	{{/* In case the "data" Param is missing we throw and error and interrupt the build */}}
	{{ errorf "Page with layout `datatable` must have a `data` parameters pointing to its corresponding data files" }}
	{{ end }}


	{{/* MARKUP
		---------  */}}

	<div class="page-heading text-3xl p-0">
		{{ .Title }}
	</div>
	
	{{/* The filter buttons using $cats */}}
    {{ with $cats }}
        <div class="flex flex-wrap justify-left mt-16">
        	{{ range . }}
        		<button id="filter-{{ .catName }}" class="font-sans mb-2 text-sm border rounded hover:bg-primary-color-300 hover:text-white py-1 px-4 mr-3">
        			{{ .name | safeHTML }}
        		</button>
        	{{ end }}
        	<button id="filter-none" class="font-sans mb-2 text-sm border rounded hover:bg-primary-color-300 hover:text-white py-1 px-4 mr-3">Clear</button>
        </div>
    {{ end }}

    {{/* The entries displayed with a <table> */}}
	{{ with $entries }}
	    <div id="entry-list" class="mt-8">
	    	<input type="text" class="font-sans text-sm search border p-2 w-full mb-5 capitalize" placeholder="Search {{ $.Title }}">
	    	<div class="mt-6 font-sans text-gray-700">
	    		{{/*  <section>	    			
	    				<th class="sort asc" data-sort="category">Category <i class="fa fa-sort"></i></th>
	    				<th class="sort" data-sort="title">Title <i class="fa fa-sort"></i></th>
	    				<th class="sort date" data-sort="date">Date <i class="fa fa-sort"></i></th>
	    				<th class="sort" data-sort="publication">Publication <i class="fa fa-sort"></i>
	    		</section>   */}}
	    		<ul class="list list-reset text-base">
	    			{{ range $i, $entry := . }}
	    				<li class="mb-0 w-full {{if eq (mod $i 2) 1}}bg-gray-100{{ end}}  pl-2 mb-2 md:mb-0">	
								<div class="inline-block title w-full md:w-3/4 py-3">
									<div class="inline-block category w-full text-gray-600 text-sm">
										{{ with .category }}
											{{ delimit . ", " }}
										{{ end }}
									</div>
	    						{{ with .title }}
	    							<span class="font-serif text-xl">{{ . | markdownify }}</span>
									{{ end }}
									{{ with .date }}
	    							<span class="text-sm">
												({{ . | dateFormat "Jan 2006" }})
										</span>
	    						{{ end }}
	    					</div>	    					
	    					<div class="inline-block publication w-full text-sm text-gray-700 md:w-1/4">
	    						{{ with .source }}
	    							{{ with $entry.link_to_original }}
											<a class="ss-redirect text-primary-color-400 dim italic" href="{{ . }}">
												{{ $entry.source }}
												 {{/*  {{partial "svg/link-external.svg" (dict "size" 12)}}  */}}
											</a>
	    							{{ else }}
	    								<span class="italic">{{ . }}</span>
	    							{{ end }}
	    						{{ end }}
	    					</div>
	    				</li>
	    			{{ end }}
						</ul>
	    	
	    </div>	
	{{ end }}
{{ end }}
