---
layout: null
---


@import "libs/_normalize";
@import "libs/bourbon/bourbon";
@import "bitters/bitters";
@import "libs/neat/neat";

// BASIC MODULES
@import "modules/article";
@import "modules/refills/nav-top";
@import "modules/page-splash";
@import "modules/footer";
@import "modules/quotes";
@import "modules/font-icons";
// SITE
@import "modules/lists";
@import "site-specific";

.entry-content {
	margin-bottom:5em;
}

body.about-the-author .entry-content {
	margin-bottom:15em;
}

// body.past-events .entry-content {
// 	min-height:3000px;
// }