<article class="hentry">
  <header>
   {% if page.title %}
      <h1 class="entry-title"><a href="{{page.url}}">{{page.title}}</a></h1>
   {% endif %}
   {% if page.date %}
    <span class='date'>
      <small>
        {{ page.date | date:'%B %d, %Y' }}
      </small>
    </span>
    {% endif %}
    {% if page.summary %}
    <div class="entry-summary">
      <p>{{page.summary}}</p>
    </div>
    {% endif %}
  </header>
  <div class="entry-content prose">
    {{ content }}
    {% if page.url contains '/journal/' %}
      {% include articles/sharing.html %}
    {% endif %}
    {% if page.related_include %}
      {% include {{page.related_include}} %}
    {% endif %}
  </div>
</article>
