---
layout: default
---
{% assign events = site.posts | where: 'category', 'event'  | sort: 'date', 'last' %}
<div class="page-content">

<div class="row padded padded-right">
  <a href="/books/sparta/">
    <img src="/assets/img/9780374267704_p0_v1_s600-220x330.jpg" style="max-width:200px;margin-top:10px;float:left;margin-right:18px;" class="image-shadow">
  </a>
  <h2>
    <a href="/books/sparta/">SPARTA</a>
  </h2>
  <p>
    <strong>Winner, James Webb Award for Distinguished Fiction</strong>
  </p>
  <p class="large">"One of the many strengths of this engaging story is that Robinson doesn’t treat post-traumatic stress disorder with that nifty abbreviation, PTSD, neatly buttoning it in place. Instead, she shows us a more insidious, layered and complex mix of debilitating psychological wounds..."<br />
    <small>— Ron Carlson, <em>The New York Times Book Review</em></small></p>
    <small><a href="/books/sparta/"><strong>Read more about <em>Sparta</em> and see reviews</strong></a></small>
</div>

<style type="text/css">
  .item-wrapper {
    width: 44%;
    float: left;
    margin-right: 5%;
  }

</style>

{% include snippets/news-list.html limit="2" %}

  <div class="row">

  {% assign news = site.data.news | where: 'test', true %}



  </div>

<div class="row">
    <div class="bio-fulfl" style="padding-right:7em;">
      <p style="margin-top:12px;"><img src="/assets/img/robinson1_si-303x335.jpg" style="max-width:195px;"></p>
      <p>{{ site.bio }}<br /><br /></p>
    </div>



  {% comment %}
  TODO: Make this view optional if there are reviews
  <div class="row">
    <div class="bio-fulfl" style="padding-right:3em;float:left;width:68%;">
      <p style="margin-top:12px;"><img src="/assets/img/robinson1_si-303x335.jpg" style="max-width:195px;"></p>
      <p>{{ site.bio }}<br /><br /></p>
    </div>


<div class="events">
      <aside style="border-left:1px solid #ddd;padding-left:1em;paddin-bottom:4em;">
        <h4 style="margin-bottom:-30px;">Upcoming Events</h4>
        
        {% include events/events-static.html %}
      </aside>
    </div>

  </div>
  {% endcomment %}
  <div class="row">
    <hr />
    {% include books/books-list.html %}
  </div>
</div>
