---
layout: default
---
{% assign events = site.posts | where: 'category', 'event'  | sort: 'date', 'last' %}
<div class="page-content">

<div class="row padded padded-right">
    <a href="/books/dawsons-fall/">
      <img src="/uploads/9780374135218.jpg" style="max-width:200px;margin-top:10px;float:left;margin-right:18px;" class="image-shadow">
    </a>
    <h2>
      <a href="/books/dawsons-fall/">Dawson's Fall</a>
    </h2>
    
    <p class="large">In Dawson’s Fall, a novel based on the lives of Roxana Robinson’s great-grandparents, we see America at its most fragile, fraught, and malleable. Set in 1889, in Charleston, South Carolina, Robinson’s tale weaves her family’s journal entries and letters with a novelist’s narrative grace, and spans the life of her tragic hero, Frank Dawson, as he attempts to navigate the country’s new political, social, and moral landscape.<br /><br />
        <a href="/books/dawsons-fall/"><strong>Click here to read more about <em>Dawson's Fall</em></strong></a></small>
  <!-- <a href="/books/sparta/">
    <img src="/uploads/9780374267704_p0_v1_s600-220x330.jpg" style="max-width:200px;margin-top:10px;float:left;margin-right:18px;" class="image-shadow">
  </a>
  <h2>
    <a href="/books/sparta/">SPARTA</a>
  </h2>
  <p>
    <strong>Winner, James Webb Award for Distinguished Fiction</strong>
  </p>
  <p class="large">"Roxana Robinson’s new novel, <em>Sparta,</em> which takes us deep inside the troubled head of a Marine returning from four years of active duty in Iraq, really is a tour de force…Although too carefully wrought to be called improvised, Robinson’s powerful novel demonstrates that fiction actually can function as a sort of explosive device."<br /><small>— Heller Mcalpin, <em>The Washington Post</em></small></p><small><a href="/books/sparta/"><strong>Read more about <em>Sparta</em> and see reviews</strong></a></small> -->
</div>








<style type="text/css">
  .item-wrapper {
    width: 44%;
    float: left;
    margin-right: 5%;
  }

</style>

{% include snippets/news-list.html limit="2" %}

<div class="row">
  <h6 class="" style="text-align:right;margin-bottom:3em;"><a href="/news/">More News &raquo;</a></h6>
</div>

<div class="row">
    <div class="bio-fulfl" style="padding-right:7em;">
      <p style="margin-top:12px;"><img src="/uploads/robinson1_si-303x335.jpg" style="max-width:195px;"></p>
      <p>{{ site.bio }}<br /><br /></p>
    </div>



  {% comment %}
  TODO: Make this view optional if there are reviews
  <div class="row">
    <div class="bio-fulfl" style="padding-right:3em;float:left;width:68%;">
      <p style="margin-top:12px;"><img src="/uploads/robinson1_si-303x335.jpg" style="max-width:195px;"></p>
      <p>{{ site.bio }}<br /><br /></p>
    </div>


<div class="events">
      <aside style="border-left:1px solid #ddd;padding-left:1em;paddin-bottom:4em;">
        <h4 style="margin-bottom:-30px;">Upcoming Events</h4>

        {% include events/events-static.html %}
      </aside>
    </div>

  </div>
  {% endcomment %}
  <div class="row">
    <hr />
    {% include books/books-list.html %}
  </div>
</div>
