<div class="mb-16">
  <h2 class="text-2xl mb-1">
    <a href="{{.Permalink}}">{{.Title | markdownify }}</a></h2>
    {{- partial "_components/time.html" (dict "context" . "show_time" false "classes" "text-xs block color-inherit font-sans tracked mb-1") -}}
  {{ with .Params.Description }}
    <div class="font-sans text-base">
      {{ . }}
    </div>
  {{else}}
    {{ with .Content }}
      <div class="font-sans text-base">
        {{- . | truncate 500 -}}
      </div>
    {{ end }}
  {{ end }}
</div>