---
layout: default
section: books
---
{% assign books = site.books | sort: 'publication_date', 'last' | reverse %}
<article class="page-content">
  {% if page.title %}
    <header>
      <h1 class="page-title">
        {{page.title}}
      </h1>
    </header>
  {% endif %}
  {% for page in books %}
    <section class="books">
      <div class="row">
        {% include books/related-review.html show="1" %}
      </div>
      <aside>
        {% include books/cover.html %}
        {% include books/meta.html %}
        {% include books/buy_links.html %}
      </aside>
      <article>
        {% include books/title.html %}
      </article>
    </section>
  {% endfor %}
</article>
