---
layout: default
section: book
---
<article class="page-content">
  {% if page.title %}
    <header>
      <h1 class="page-title">
        {{page.title}} 
      </h1>
    </header>
  {% endif %}
	<section class="books">
	  <div class="row">
	    {% include books/related-review.html show="1" %}
	  </div>
	  <aside>
	    {% include books/cover.html %}
	    {% include books/meta.html %}
	    {% include books/buy_links.html %}
	  </aside>
	  <article>
	   {{ content }}
	  </article>
	</section>
  <div id="reviews" class="row">
    {% include books/related-reviews.html show="100" offset="1" %}
  </div>
</article>
