	{% assign title = item.title  | markdownify | remove: '<p>' | remove: '</p>'  %}

<div class="item-wrapper">
<div class="column-date">
	<small>{{item.date | date: "%B %d, %Y" }}</small>
</div>
<div class="column-item">
	<h3>
		{% if item.link_to_original %}
			<a href="{{item.link_to_original}}" target="_blank">{{title}}</a>
		{% elsif item.file %}
			<a href="/assets/files/{{item.file}}" target="_blank">{{title}}</a>
		{% else %}
			{{title}}
		{% endif %} {% comment %}<small>({{item.language}})</small>{% endcomment %}

		<span class="item">
		{% if item.link_to_original %}
			<small>
				<a href="{{item.link_to_original}}">
					<i class="icon-link-ext"></i>
				</a>
			</small>
		{% endif %}
		{% if item.file %}
			<small>
				<a href="/assets/files/{{item.file}}">
					<i class="icon-download"></i>
				</a>
			</small>
		{% endif %}
	</span>
	</h3>

	<small>
	{% if item.summary %}
		{{item.summary | markdownify }}
	{% endif %}
	</small>
</div>
<hr />
</div>
